<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>STARplus - Online Calculator</title>
</head>

<body>
    <div>

        <div class="header">
            <h2><a href="{{url_for('index')}}">STARplus</a></h2>
            <nav>
                <ul>
                    <li>About</li>
                    <li><a href="{{url_for('accounting')}}">Calculator</a></li>
                    <li>Stats</li>
                </ul>
            </nav>
        </div>

        <div class="main">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <nav class="social">
                <ul>
                    <li><a href="https://x.com/Dy_mond_in_sky" target="_blank">
                            <img src="{{url_for('static', filename='image/twitter.png')}}" alt="X.com"></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/ufomaifende/" target="_blank">
                            <img src="{{url_for('static', filename='image/linkedin.png')}}" alt="Linkedin"></a>
                    </li>
                    <li><a href="http://github.com/Ufoma" target="_blank">
                            <img src="{{ url_for('static', filename='image/github.png')}}" alt="github"></a></li>
                </ul>
            </nav>
        </div>
    </div>

</body>

</html>